<div class="container">
  <div class='mx-auto col-md-7'>
    <h1>施設編集</h1>
    <%= form_with model: @facility, url:user_facility_path(@facility), method: :patch, local: true do |f| %>
      <div class="form-group">
        <%= f.label :施設画像 %>
        <%= f.file_field :facility_photos, autofocus: true, class: "form-control-file", accept: 'image/*' %>
      </div>
      <div class="form-group">
        <%= f.label :施設名 %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :施設説明 %>
        <%= f.text_area :content, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :緯度 %>
        <%= f.text_field :latitude, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :経度 %>
        <%= f.text_field :longitude, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit "変更を保存", class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
</div>