<div class="container">
  <h1>施設一覧</h1>
    <%= link_to new_user_facility_path, class: "btn" do %>
      <i class="pull-righ fa-solid fa-plus"></i>
    <% end %>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>施設ID</th>
          <th>施設名</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @facilities.each do |facility| %>
            <td><%= facility.id %></td>
            <td><%= link_to facility.name, user_facility_path(facility.id) %></td>
            <td id="favorite_buttons_<%= facility.id %>">
              <%= render "user/favorites/btn", { facility: facility } %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  <%= paginate @facilities, theme: 'twitter-bootstrap-4' %>
</div>