<div class="container">
  <h1>施設一覧</h1>
    <%= link_to new_user_facility_path, class: "btn" do %>
      <i class="pull-righ fa-solid fa-plus"></i>
    <% end %>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>施設ID</th>
          <th>施設名</th>
        </tr>
      </thead>
      <tbody>
        <% @facilities.each do |facility| %>
          <tr>
            <td><%= facility.id %></td>
            <td><%= link_to facilities.name,user_facilities_path(facility.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= paginate @facilities %>
  <%= image_tag 'line_sweets.png',size:'10,30' %>
</div>