<div class='container'>
  <h1>施設名：<%= @facility.name %></h1>
  <div class='row'>
    <div class='col-md-6'>
      <!--<div class="swiper-wrapper">-->
        <!--<div class="table">-->
        <!--  <tr>-->
        <!--    <td>施設名：</td>-->
        <!--    <td><%#= @facility.name %></td>-->
        <!--  </tr>-->
        <!--</div>-->
        <div class="post-partial">
          <% if @facility.facility_photos.attached? %>
            <tr id="facility-<%= @facility.id %>">
              <% @facility.facility_photos.each do |facility_photos| %>
                <!--<div class="swiper-slide">-->
                  <%= image_tag(facility_photos, height:360,width:550) %>
                <!--</div>-->
                <!--<div class="swiper-button-prev"></div>-->
                <!--<div class="swiper-button-next"></div>-->
                <!--<div class="swiper-pagination"></div>-->
              <% end %>
            </tr>
          <% else %>
            <%= image_tag 'no_image', size: "550x360" %>
          <% end %>
        </div>
      <!--</div>-->
    </div>
    <div class='col-md-4'>
      <tr>
        <td><div id='map'></div></td>
      </tr>
    </div>
  </div>
  <div class='row'>
    <table class="table">
      <div class='col-md-8'>
        <tr>
          <th>施設説明</thead>
          </div>
          <div class='col-md-6'>
          <th><%= @facility.content %></th>
        </tr>
        <!--住所として表示させたい-->
        <!--<tr>-->
        <!--  <td>緯度</td>-->
        <!--  <td><%#= @facility.lat %></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--  <td>経度</td>-->
        <!--  <td><%#= @facility.lng %></td>-->
        <!--</tr>-->
      </div>
      <% if @facility.user == current_user %>
        <!--<td id="favorite_buttons_<%#= @facility.id %>" >-->
        <!--  <%#= render "user/favorites/btn", facility: @facility %>-->
        <td class='text-center'>
          <%= link_to "編集する", edit_user_facility_path, class: "btn btn-success" %>
        </td>
        <td class='text-center'>
          <%= link_to '削除する', user_facility_path, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger"%>
        </td>
      <% else %>
        <div></div>
        <div></div>
      <% end %>
    </table>
  </div>
</div>
<div class='row'>
    <div class='col-md-6'>

</div>
</div>
<br>
<br>
<div class="container">
  <h1>投稿一覧</h1>
  <div class='row'>
  <td class='text-center'>
    <%= link_to "投稿する", new_user_facility_post_path(@facility), class: 'btn btn-success' %>
  </td>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>投稿ID</th>
        <th>施設名</th>
        <th>投稿内容</th>
        <th>設備</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.id, user_post_path(post.id) %></td>
          <td><%= link_to post.facility.name, user_facility_path(post.facility.id) %></td>
          <td><%= post.content %></td>
          <td>
            <% post.equipments.each do |equipment| %>
              ・<%= equipment.name %>
            <% end %>
          </td>
          <td>コメント数： <%= post.comments.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<style>
#map {
  height: 360px;
  width: 550px;
}
</style>

<!-- js部分 -->
<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= @facility.lat %>, lng: <%= @facility.lng %>},
    zoom: 15,
  });

   marker = new google.maps.Marker({
    position:  {lat: <%= @facility.lat %>, lng: <%= @facility.lng %>},
    map: map
  });
}
</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.map_api_key %>&callback=initMap" async defer></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js"></script>-->
<!--    <script>-->
<!--        var mySwiper = new Swiper ('.swiper-container', {-->
          <!--loop: true,        //画像のループ-->
          <!--effect: 'fade',   //切り替わるときのアニメーション-->
          <!--speed: 3000,       //画像の切替スピード-->
          <!--autoplay: {        //自動で動かす-->
<!--            delay: 3000,-->
<!--            disableOnInteraction: true-->
<!--          },-->
          <!--pagination: {      //ページネーション-->
<!--            el: '.swiper-pagination',-->
<!--            type: 'bullets',-->
<!--            clickable: true-->
<!--          },-->
          <!--navigation: {      //ナビケーション-->
<!--            nextEl: '.swiper-button-next',-->
<!--            prevEl: '.swiper-button-prev',-->
<!--          },-->
<!--        });-->
<!--    </script>-->