<div class='container'>
  <h1>施設詳細</h1>
  <div class='row'>
    <div class='col-md-4'>
      <% if @facility.facility_photos.attached? %>
        <%= image_tag @facility.facility_photos[0], size: '250x150' %>
      <% else %>
        <%= image_tag 'no_image', size: "250x150" %>
      <% end %>
      <div id="map"></div>
    </div>
    <div class='col-md-6'>
      <table class="table">
        <tr>
          <td>施設名</td>
          <td><%= @facility.name %></td>
        </tr>
        <tr>
          <td>施設説明</td>
          <td><%= @facility.content %></td>
        </tr>
        <tr>
          <td>緯度</td>
          <td><%= @facility.latitude %></td>
        </tr>
        <tr>
          <td>経度</td>
          <td><%= @facility.longitude %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% if @facility.user == current_user %>
  <div class='text-center'>
    <%= link_to "編集する", edit_user_facilities_path, class: 'btn btn-success' %>
  </div>
  <div class='text-center'>
    <%= link_to '削除する', @facility, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger"%>
  </div>
<% else %>
  <div></div>
  <div></div>
<% end %>
<div class='text-center'>
  <%= link_to "投稿する", new_user_post_path, class: 'btn btn-success' %>
</div>
<style>
  #map {
    height: 400px;
    width: 400px;
  }
</style>
<script>
  function initMap() {
    var address = {lat: <%= @facility.latitude %>, lng: <%= @facility.longitude %>};
    var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 16,
    center: address
    });
    var marker = new google.maps.Marker({
      position: address,
      map: map
    });
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap"async defer></script>