<div class='container'>
  <h1>施設詳細</h1>
  <div class='row'>
    <div class='col-md-4'>
      <% if @facility.facility_photos.attached? %>
        <%= image_tag @facility.facility_photos[0], size: '250x150' %>
      <% else %>
        <%= image_tag 'no_image', size: "250x150" %>
      <% end %>
    </div>
    <div class='col-md-6'>
      <table class="table">
        <tr>
          <td>施設名</td>
          <td><%= @facility.name %></td>
        </tr>
        <tr>
          <td>施設説明</td>
          <td><%= @facility.content %></td>
        </tr>
        <tr>
          <td>緯度</td>
          <td><%= @facility.latitude %></td>
        </tr>
        <tr>
          <td>経度</td>
          <td><%= @facility.longitude %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% if @facility.user == current_user %>
  <td id="favorite_buttons_<%= @facility.id %>" >
    <%= render "user/favorites/btn", facility: @facility %>
  </td>
  <div class='text-center'>
    <%= link_to "編集する", edit_user_facility_path, class: 'btn btn-success' %>
  </div>
  <div class='text-center'>
    <%= link_to '削除する', user_facility_path, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger"%>
  </div>
<% else %>
  <div></div>
  <div></div>
<% end %>
<div class='text-center'>
  <%= link_to "投稿する", new_user_facility_post_path(@facility), class: 'btn btn-success' %>
</div>
<div class="container">
  <h1>投稿一覧</h1>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>投稿ID</th>
        <th>施設名</th>
        <th>投稿内容</th>
        <th>設備</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= link_to post.facility.name, user_facility_path(post.facility.id) %></td>
          <td><%= post.content %></td>
          <td>
            <% post.equipments.each do |equipment| %>
              <%= equipment.name %>
            <% end %>
          </td>
          <td>コメント数： <%= post.comments.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

    <%= render "maps/show", map: @map %>
