<%= form_with　model: @map do |f| %>
　　 <%= f.label :text, style: "display: block" %>
  <%= f.text_field :text %>
  <%= f.hidden_field :lat, id: :lat %>
  <%= f.hidden_field :lng, id: :lng %>
  <%= f.submit %>
　 <% end %>

<input id="address" type="textbox" placeholder="ピンを刺したい地名を検索">
<input type="button" value="ピンを刺す" onclick="codeAddress()">
<div id="map" class="form-map"></div>
<script>
 if (typeof map == "undefined") {
   let map;
   var marker;
   var geocoder;
   var afterPinned;
 }

 function initMap(){
   geocoder = new google.maps.Geocoder()

   map = new google.maps.Map(document.getElementById('map'),{
     center: { lat: 35.6803997, lng: 139.7690174 }, # 東京
     zoom: 10,
   });
 }

 function codeAddress(){ # 検索時発火
   let inputAddress = document.getElementById('address').value;　# 入力した住所情報を取得
   geocoder.geocode( { 'address': inputAddress }, function(results, status) {
     if (status == 'OK') {
       if (afterPinned == true) {
         marker.setMap(null);
       }
       map.setCenter(results[0].geometry.location);
         marker = new google.maps.Marker({
           map: map,
           position: results[0].geometry.location,
           draggable: true # ピンを移動できる様にする
         });

       afterPinned = true;
       # ピンは一本しか刺せない

       document.getElementById('lat').value = results[0].geometry.location.lat();
       document.getElementById('lng').value = results[0].geometry.location.lng();
	# 情報をフォームのhidden_fieldへ送る

       google.maps.event.addListener(marker, 'dragend', function(ev){
         document.getElementById('lat').value = ev.latLng.lat();
         document.getElementById('lng').value = ev.latLng.lng();
	  # ピンが移動されたら新しい情報をフォームのhidden_fieldへ送る
       });
     } else {
       alert('該当する結果はありませんでした');
     }
   });
 }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>