<div class="container">
  <div class='mx-auto col-md-7'>
    <section class="categories">
      <h2 class="categories-heading common-heading">管理者ページ</h2>
      <p class="categories-text">
        <%= link_to admin_users_path do %>
          <i class="fas fa-users"></i> 会員一覧
        <% end %>
      </p>
      <p class="categories-text">
        <%= link_to admin_facilities_path do %>
          <i class="fas fa-store-alt"></i> 施設一覧
        <% end %>
      </p>
      <p class="categories-text">
        <%= link_to admin_equipments_path do %>
          <i class="fas fa-baby"></i> 設備一覧
        <% end %>
      </p>
      <p class="categories-text">
        <%= link_to admin_posts_path do %>
          <i class="fas fa-pencil-alt"></i> 投稿一覧
        <% end %>
      </p>
      <p class="categories-text">
        <%= link_to admin_posts_path do %>
          <i class="fas fa-pencil-alt"></i> 投稿一覧
        <% end %>
      </p>
      <p class="categories-text">
        <%= link_to admin_comments_path do %>
          <i class="far fa-comment-alt"></i> コメント一覧
        <% end %>
      </p>
      <p class="categories-text">
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i> ログアウト
        <% end %>
      </p>
    </section>
  </div>
</div>