<div class="container">
  <div class = "row">
    <div class = "col-lg-7">
      <table class="table table-bordered">
        <h2><b><%= @user.name %>さんの情報</b></h2>
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image, size: '150x150' %>
        <% else %>
          <%= image_tag 'user_no_image', size: "150x150" %>
        <% end %>
        <tr>
          <td>名前</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
      </table>
      <% if @user.email == 'guest@example.com'%>
      　<p>ゲストユーザーはユーザー情報の編集ができません。</p>
      <% else %>
        <%= link_to "会員情報編集", edit_user_user_path, class: 'btn btn-success'%>
      <% end %>
    </div>
    <div class ="col-lg-4">
      <div class="d-flex align-items-end" style="height:50px;">
      </div>

      <h3><%= @user.name %>さんの投稿</h3>
      <table>
        <tr>
          <td>施設一覧</td>
          <% if @facility.present? %>
          <td><%= link_to "一覧を見る", my_index_path, class: 'btn btn-info' %></td>
          <% else %>
            <td>施設投稿がありません</td>
          <% end %>
        </tr>
        <tr>
          <td>投稿一覧</td>
          <% if @post.present? %>
          <td><%= link_to "一覧を見る", user_post_my_index_path(post_id: :id), class: 'btn btn-info' %></td>
          <% else %>
            <td>投稿がありません</td>
          <% end %>
        </tr>
        <tr>
          <td>コメント</td>
          <% if @comment.present? %>
          <td><%= link_to "一覧を見る", user_my_index_path, class: 'btn btn-info' %></td>
          <% else %>
            <td>コメントがありません</td>
          <% end %>
        </tr>
        <tr>
          <td>お気に入り</td>
          <% if @favorite.present? %>
            <td><%= link_to "一覧を見る", user_facility_favorites_path(facility_id: @facility.id), class: 'btn btn-info' %></td>
          <% else %>
            <td>お気に入りしていません</td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
