<div class="container">
  <div class = "row">
    <div class = "col-lg-8">
      <table class="table table-bordered">
        <h4><b>会員情報</b></h4>
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image, size: '150x150' %>
        <% else %>
          <%= image_tag 'user_no_image', size: "150x150" %>
        <% end %>
        <tr>
          <td>名前</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>
    <div class ="col-lg-4">
      <div class="d-flex align-items-end" style="height:50px;">
      </div>
      <% if @user.email == 'guest@example.com'%>
      　<p>ゲストユーザーはユーザー情報の編集ができません。</p>
      <% else %>
        <%= link_to "会員情報編集", edit_user_user_path, class: 'btn btn-success'%>
      <% end %>
      <table>
        <tr>
          <td>施設一覧</td>
          <td><%= link_to "一覧を見る", user_facilities_path, class: 'btn btn-info' %></td>
        </tr>
        <tr>
          <td>投稿一覧</td>
          <td><%= link_to "一覧を見る", user_posts_path, class: 'btn btn-info' %></td>
        </tr>
        <tr>
          <td>コメント一覧</td>
          <td><%= link_to "一覧を見る", user_comments_path, class: 'btn btn-info' %></td>
        </tr>
        <tr>
          <td>お気に入り一覧</td>
          <td><%= link_to "一覧を見る", user_facility_favorites_path(facility_id: :id), class: 'btn btn-info' %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
