<div class="main-visual">
  <div class='container'>
    <% if user_signed_in? %>
    <h1><%= current_user.name %>さんWithBabyへようこそ</h1>
    <div class="search">
      <div class='row'>
        <div class='col-md-4'>
          <h2>目的地を検索</h2>
          <div class='row'>
            <%= render "user/posts/search", post: @post %>
          </div>
        </div>
        <div class='col-md-6'>
          <div class="main-visual-content">
            <p>さっそく検索してみよう<br>
            <br>
            お出かけ先で授乳室やおむつ台があるのか、お湯や体重計<br>
            などの設備が備わっているのか調べることが多いと思います<br>
            そこでこちらWithBabyです<br>
            赤ちゃんとのお出かけをより楽しめるように、たくさん<br>
            検索や投稿をして盛り上げましょう</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-5'>
        <h1>施設新規登録</h1>
        <%= form_with model: @facility, url: user_facilities_path, method: :post do |f| %>
          <div class="form-group">
            <%= f.label :facility_photos,"施設画像" %>
            <%= f.file_field :facility_photos, class: "form-control-file", accept: 'image/*', multiple: true %>
            <%= f.label :name,"施設名" %>
            <%= f.text_field :name, class: 'form-control', placeholder: "施設名を入力" %>
            <%= f.label :content,"施設説明" %>
            <%= f.text_field :content, class: 'form-control', placeholder: "施設の特徴などを入力" %>
            <%= f.label :lat,"緯度（入力は不要）" %>
            <%= f.text_field :lat,:value =>"緯度", id: :lat, class: 'form-control' %>
            <%= f.label :lng,"経度（入力は不要）" %>
            <%= f.text_field :lng,:value =>"経度", id: :lng, class: 'form-control' %>
            <%= f.submit "新規登録",class: 'btn btn-info' %>
          </div>
        <% end %>
      </div>
      <div class='col-md-6'>
        <h4>施設を検索</h4>
        <input id="address" type="textbox" value="" placeholder: "目的地を入力">
        <input type="button" value="検索" onclick="codeAddress()">
        <p>施設検索（例：東京駅、東京タワー、「イオン」+「地名」など）<p>
        <p>マーカーは位置の調整ができます。<p>
      <div id='map'></div>
    </div>
    <% else %>
      <h1>WithBabyへようこそ！！</h1>
      <div class='col-md-6'>
        <div class="main-visual-content">
          <p>
          <br>
          <br>
          皆さん赤ちゃんとお出かけはしますか？<br>
          お出かけ先で授乳室やおむつ台があるのか、お湯や体重計<br>
          などの設備が備わっているのか調べることが多いと思います<br>
          そこでこちらWithBabyです<br>
          赤ちゃんとのお出かけをより楽しめるように、たくさん<br>
          検索や投稿をして盛り上げましょう</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style>
#map {
  height: 300px;
  width: 600px;
}
</style>

<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},  //東京
    zoom: 13,

  });
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true	// ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.map_api_key %>&callback=initMap" async defer></script>
