<div class="container">
  <%= render "search", post: @post %>
  <h1>投稿一覧</h1>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>投稿ID</th>
          <th>施設名</th>
          <th>投稿内容</th>
          <th>設備</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.id, user_post_path(post.id) %></td>
            <td><%= link_to post.facility.name, user_facility_path(post.facility.id) %></td>
            <td><%= post.content %></td>
            <td>
              <% post.equipments.each do |equipment| %>
                <%= equipment.name %>
              <% end %>
            </td>
            <td>コメント数： <%= post.comments.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= paginate @posts %>
</div>