<div class='container'>
  <h1>投稿詳細</h1>
  <div class='row'>
    <div class='col-md-6'>
      <div class="post-partial">
        <!--<div class="swiper-wrapper">-->
          <!--画像スライドにしたい-->
          <% if @post.posted_photos.attached? %>
            <tr id="post-<%= @post.id %>">
              <% @post.posted_photos.each do |posted_photos| %>
                <!--<div class="swiper-slide">-->
                  <%= image_tag(posted_photos, width:500) %>
                <!--</div>-->
                <!--<div class="swiper-button-prev"></div>-->
                <!--<div class="swiper-button-next"></div>-->
                <!--<div class="swiper-pagination"></div>-->
              <% end %>
            </tr>
          <% else %>
            <%= image_tag 'no_image.jpg', size: "500x330" %>
          <% end %>
        <!--</div>-->
      </div>
    </div>
    <div class='col-md-6'>
      <table class="table">
        <tr>
          <td>施設名</td>
          <td><%= link_to @post.facility.name, user_facility_path(@post.facility.id) %></td>
        </tr>
        <tr>
          <td>内容</td>
          <td><%= @post.content %></td>
        </tr>
        <tr>
          <td>設備</td>
          <td>
            <% @post.equipments.each do |equipment| %>
              ・<%= equipment.name %>
            <% end %>
          </td>
        </tr>
        <% if @post.user == current_user %>
          <tr>
            <td>
              <%= link_to '編集', edit_user_post_path(@post), class: "btn btn-success" %>
            </td>
            <td>
              <%= link_to '削除', user_post_path(@post), class: "btn btn-sm btn-danger float-end", method: :delete, data: { confirm: '本当に削除しますか？' }%>
            </td>
          </tr>
        <% else %>
          <div></div>
          <div></div>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class='text-center'>
</div>
<div class='text-center'>
  <!--必要な時につける-->
  <!--<td>コメント件数:<span id="comment_count"><%#= @post.comments.count %></span></td>-->
  <div id="comment-form">
    <%= render "user/comments/form", post: @post, comment: @comment %>
  </div>
  <div id="comments">
    <%= render 'user/comments/index', comments: @comments %>
  </div>
</div>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js"></script>-->
<!--    <script>-->
<!--        var mySwiper = new Swiper ('.swiper-container', {-->
<!--          loop: true,        //画像のループ-->
<!--          effect: 'fade',   //切り替わるときのアニメーション-->
<!--          speed: 3000,       //画像の切替スピード-->
<!--          autoplay: {        //自動で動かす-->
<!--            delay: 3000,-->
<!--            disableOnInteraction: true-->
<!--          },-->
<!--          pagination: {      //ページネーション-->
<!--            el: '.swiper-pagination',-->
<!--            type: 'bullets',-->
<!--            clickable: true-->
<!--          },-->
<!--          navigation: {      //ナビケーション-->
<!--            nextEl: '.swiper-button-next',-->
<!--            prevEl: '.swiper-button-prev',-->
<!--          },-->
<!--        });-->
<!--    </script>-->