<div class='container'>
  <h1>会員詳細</h1>
  <div class='row'>
    <div class='col-md-4'>
      <% if @user.image.attached? %>
        <%= image_tag @user.profile_image, size: '250x150' %>
      <% else %>
        <%= image_tag 'user_no_image', size: "250x150" %>
      <% end %>
    </div>
    <div class='col-md-6'>
      <table class="table">
        <tr>
          <td>会員名</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>利用中</td>
          <td><%= @facilities.active %></td>
        </tr>
      </table>
    </div>
  </div>
</div>