<div class='container'>
  <h1>会員詳細</h1>
  <div class='row'>
    <div class='col-md-4'>
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: '250x150' %>
      <% else %>
        <%= image_tag 'user_no_image', size: "250x150" %>
      <% end %>
    </div>
    <div class='col-md-6'>
      <table class="table">
        <tr>
          <td>会員名</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td>
            <% if @user.email == 'guest@example.com'%>
      　       <p></p>
            <% else %>
              <% if @user.is_active? %>
                利用中
                <%= link_to "利用停止中にする", admin_withdrawal_path(@user.id), method: :patch, class: "btn btn-danger" %>
              <% else %>
                利用停止中
                <%= link_to "利用中にさせる", admin_withdrawal_path(@user.id), method: :patch, class: "btn btn-success" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>