<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF;">
    <a class="navbar-brand" href="/"><img src="/assets/favicon.ico" width="50" height="50" alt="">WithBaby</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>
      <!--会員ログイン時-->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <div class="d-flex align-items-end" style="height:50px;">
            <li><%#= current_user.name %></li>
          </div>
          <li class="nav-item">
            <%= link_to user_user_path, class: 'nav-link' do %>
              <i class="far fa-user"></i> マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%=  link_to user_facilities_path, class: 'nav-link' do %>
              <i class="fas fa-store-alt"></i> 施設一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%=  link_to user_posts_path, class: 'nav-link' do %>
              <i class="fas fa-pencil-alt"></i> 投稿一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        </ul>
        <!--検索機能ーtopの仕様が変わったら使う-->
        <%#= render "user/posts/search", post: @post %>
      </div>
    <% elsif admin_signed_in? %>
      <!--管理者ログイン時-->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to admin_root_path, class: 'nav-link' do %>
              <i class="fas fa-user-cog"></i> 管理者TOP
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_users_path, class: 'nav-link' do %>
              <i class="fas fa-users"></i> 会員一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_facilities_path, class: 'nav-link' do %>
              <i class="fas fa-store-alt"></i> 施設一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_equipments_path, class: 'nav-link' do %>
              <i class="fas fa-baby"></i> 設備一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_posts_path, class: 'nav-link' do %>
              <i class="fas fa-pencil-alt"></i> 投稿一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_comments_path, class: 'nav-link' do %>
              <i class="far fa-comment-alt"></i> コメント一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <!--ログインしていない時-->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <%= link_to users_guest_sign_in_path, class: "nav-link", method: :post  do %>
            <i class="fas fa-user"></i> ゲストログイン
          <% end %>
          <li class="nav-item">
            <%= link_to user_facilities_path, class: 'nav-link' do %>
              <i class="fas fa-store-alt"></i> 施設一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_posts_path, class: 'nav-link' do %>
              <i class="fas fa-pencil-alt"></i> 投稿一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
          <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        </ul>
        <!--検索機能ーtopの仕様が変わったら使う-->
        <%#= render "user/posts/search", post: @post %>
      </div>
    <% end %>
  </nav>
</header>